.home-container {
    background-image: url('./homeimg/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: none;
    background-position: center;
    width: 100%;
    height: 100vh;
}


.vanta-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.vanta-screen {
    position: absolute;
    color: black;
    opacity: 0.1;
    height: 100vh;
    width: 100%;
    z-index: 1;

}


.navbar-container {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.home-text-container {
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1000px) {
    .home-text {
        color: #cecece;
        font-size: 85px;
        letter-spacing: 3px;
        font-weight: 600;
        user-select: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .home-text {
        color: #cecece;        
        font-size: 60px;
        letter-spacing: 3px;
        font-weight: 600;
        user-select: none;
    }
}

@media only screen and (max-width: 599px) {
    .home-text {
        color: #cecece;        
        font-size: 45px;
        letter-spacing: 3px;
        font-weight: 600;
        user-select: none;
    }
}

.typed-container {
    position: absolute;
}