.navbar {
    background-image: url("../../img/background.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

.navbar-container {
    padding-top: 3em;
}

.navbar-logo {
    margin-left: 10em;
}