.navbar {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

@media (min-width: 601px) {
    .navbar-logo {
        margin-top: 2%;
        float: left;
        margin-left: 6vw;
        user-select: none;
        transform: scale(.85);
    }
}

@media (max-width: 600px) {
    .navbar-logo {
        float: left;
        margin-left: 0vw;
        user-select: none;
        margin-top: 2vh;
        transform: scale(.6);
    }
}

@media (min-width: 749px) {
    .navbar-bars {
        display: none;
    }
}

@media (max-width: 750px) {
    .navbar-bars {
        margin-right: 9vw;
        float: right;
        margin-top: 6vh;
        user-select: none;
    }
}

.nav-menu {
    width: 100%;
    background-color: #1d1d1d;
    position: absolute;
    display: none;
    height: 100vh;
}

.active {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-menu-items {
    list-style: none;
    margin-top: 10vh;
}

.menu-bars {
    color: #bebebe;
}

.navbar-toggle {
    padding: 20px;
    transform: scale(1.5);
}

.item-link {
    color: #bebebe;
    padding: 20px;
    user-select: none;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
}

.item-link:hover {
    background: linear-gradient(90deg, #1d1d1d, #EE00FF);
}

@media only screen and (max-width: 749px) {
    .nav-items-container {
        display: none;
        z-index: 4;
    }
}

@media only screen and (min-width: 750px) {
    .nav-items-container {
        display: block;
        position: absolute;
        overflow: hidden;
        bottom: 10vh;
        z-index: 4;
    }
}

.nav-items {
    text-decoration: none;
}

.items {
    display: block;
    text-decoration: none;
    color: #bebebe;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .35px;
    padding: 8vh;
    transform: rotate(270deg);
    user-select: none;
}