.homeContainer {
  background-image: url("../img/background.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  z-index: 1;
  }

.helloContainer {
  z-index: 5;
}

.helloContainerText {
  font-size: 30px;
  font-weight: 500;
  color: #2A2A2A;
  display: flex;
  justify-content: center;
  letter-spacing: .2em;
  margin-top: 12em;
  margin-right: 8.55em;
  z-index: 5;
}

.emanAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3em;
  margin-right: 0em;
  z-index: 5;
}

.shapeIntro {
  overflow: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

.shapeDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 16px;
  overflow: none;
  background-repeat: no-repeat;

}