.homeContainer {
  background-image: url("../img/background.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  z-index: 1;
  }

.helloContainer {
  z-index: 5;
}

.helloContainerText {
  font-size: 30px;
  font-weight: 500;
  color: #2A2A2A;
  display: flex;
  justify-content: center;
  letter-spacing: .2em;
  margin-top: 13em;
  margin-right: 8.55em;
  z-index: 5;
  user-select: none;
}

.emanAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  margin-right: 0em;
  z-index: 5;
}

.emanAnimation h1 {
  font-size: 132px;
  margin-top: -0.3em;
  margin-right: 0.1em;
  color: #2a2a2a;
  text-shadow: 4px 4px 3px rgba(42, 42, 42, 0.2);
  user-select: none;
}

.shapeIntro {
  overflow: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

.shapeDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 16px;
  overflow: none;
  user-select: none;
}